#table {
    display: table;
    width: 100%;
}

.row {
    display: table-row;
    outline: 1px solid rgb(0, 0, 0);
    
}

.first{
    text-align: center;
    padding:0;
    margin:0;
}

.cell {
    display: table-cell;
    padding: 3px;
    outline: 1px solid rgb(0, 0, 0);
    width: calc(100/6);
    
}